* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  /* Disable selection/copy in UIWebView */
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

[v-cloak] {
  display: none !important;
}

.loading {
  width: 50%;
  height: 1em;
  background-color: #583b11;
  margin: 0 auto;
  border-radius: 50px;
  position: absolute;
  text-align: center;
  color: #fab655;
  right: 0;
  left: 0;
  top: 48%;
  z-index: 1;
}

.loading > div {
  height: 100%;
  width: 0%;
  background-color: #fab655;
  border-radius: 50px;
}

.loading_next {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#app {
  width: 100%;
  height: 100%;
  background-image: url(../img/bg@3x.png);
  background-size: 100% 100%;
}

#app #erasingWord {
  width: 100%;
  height: 100%;
  position: relative;
}

#app #erasingWord .head {
  position: relative;
  padding-top: 10%;
}

#app #erasingWord .head img:nth-child(1) {
  width: 75.7%;
  margin-top: 6.5%;
  margin-left: 13.5%;
}

#app #erasingWord .head img:nth-child(2) {
  position: absolute;
  width: 8%;
  top: 10%;
}

#app #erasingWord .grades {
  margin-top: 20px;
}

#app #erasingWord .grades > span {
  display: block;
  width: 38%;
  margin: 0px auto 20px;
  line-height: 3em;
  font-family: STYuanti-TC;
  font-size: 1.1em;
  font-weight: bold;
  color: #772706;
  text-align: center;
  border-radius: 9.1px;
  background-color: #fedfa8;
}

#app #erasingWord .grades #grades_endless {
  background-color: #fb6c30;
}

#app #erasingWord .grades #grades_endless > img {
  height: 1em;
  margin-right: 5px;
}

#app #erasingWord .RankingList {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 11.1%;
  font-size: 0.8em;
}

#app #erasingWord .RankingList > img {
  height: 2em;
}

#app #erasingWord .foot {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3em;
  line-height: 3em;
  color: #772706;
  font-size: 0.7em;
  background-color: rgba(0, 0, 0, 0.3);
}

#app #erasingWord .gamesRules {
  width: 61.2%;
  position: absolute;
  top: 30%;
  font-size: 0.8em;
  right: 0;
  left: 0;
  margin: auto;
  color: #bec1c8;
  padding: 5%;
  border-radius: 6.7px;
  background-color: #fff;
  line-height: 1.43;
}

#app #erasingWord .gamesRules > p {
  margin-bottom: 1.5em;
  margin-top: 0;
  font-weight: bold;
  font-size: 1.5em;
  color: #445266;
  text-align: center;
}

#app #erasingWord .gamesRules > span {
  width: 48%;
  line-height: 2em;
  font-size: 1.3em;
  color: #ffffff;
  display: block;
  text-align: center;
  margin-top: 2em;
  margin: 2em auto 0;
  background-color: #54c7e6;
  border-radius: 50px;
}

#app .game {
  width: 100%;
  height: 100%;
  position: relative;
}

#app .game .gameHead {
  padding-top: 8%;
  height: 6.4%;
}

#app .game .gameHead > img {
  float: left;
  width: 8%;
  margin-left: 2.5%;
}

#app .game .gameHead .mvshi {
  width: 35.5%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  color: #bd632d;
  background-image: url(../img/titlebg.png);
  background-size: 100% 100%;
  line-height: 2.2em;
  position: relative;
}

#app .game .gameHead .mvshi > span {
  width: 54.5px;
  height: 16.5px;
  border-radius: 8px;
  background-color: #b75820;
  display: inline-block;
  font-size: 0.7em;
  color: #fff;
  line-height: 1.4em;
  position: absolute;
  bottom: -20%;
  right: 0;
  left: 0;
  margin: 0 auto;
}

#app .game .gameHead > span {
  float: right;
  width: 21.1%;
  margin-top: 2.5%;
  text-align: center;
  margin-right: 5%;
  color: #fff;
  line-height: 25px;
  border-radius: 12.1px;
  background-color: #d69226;
  position: relative;
}

#app .game .gameHead > span > span {
  position: absolute;
  left: 0;
  right: 0;
}

#app .game .gameHead > span > img {
  width: 30px;
  float: right;
  position: absolute;
  right: -15%;
  top: -15%;
}

#app .game .topicList {
  width: 100%;
  height: 375px;
  margin-top: 20%;
  position: relative;
}

#app .game .topicList > span {
  display: inline-block;
  text-align: center;
  width: 30.93333%;
  height: 30.93333%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  position: absolute;
}

#app .game .topicList > span:nth-child(3n-2) {
  left: 2.4%;
}

#app .game .topicList > span:nth-child(3n-1) {
  left: 0;
  right: 0;
  margin: 0 auto;
}

#app .game .topicList > span:nth-child(3n) {
  right: 2.4%;
}

#app .game .topicList > span:nth-child(1), #app .game .topicList > span:nth-child(2), #app .game .topicList > span:nth-child(3) {
  top: 2%;
}

#app .game .topicList > span:nth-child(4), #app .game .topicList > span:nth-child(5), #app .game .topicList > span:nth-child(6) {
  top: 35.4%;
}

#app .game .topicList > span:nth-child(7), #app .game .topicList > span:nth-child(8), #app .game .topicList > span:nth-child(9) {
  top: 68.5%;
}

#app .game .topicList > span > img {
  width: 90%;
  height: 90%;
  margin: 5%;
  border-radius: 10%;
}

#app .game .topicList > span .opacity03 {
  opacity: 0.3;
}

#app .game .topicList > span .textAction {
  color: #c39c57;
}

#app .game .topicList > span > v-text {
  display: table-cell;
  vertical-align: middle;
  color: #445266;
  font-weight: bold;
}

#app .game .topicList .topicAction {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffa300;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#app .game .ProgressBar {
  position: absolute;
  bottom: 2%;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 73.1%;
  height: 1em;
  border-radius: 50px;
  background-color: #fff;
}

#app .game .ProgressBar > div {
  border-radius: 50px;
  width: 98.54015%;
  height: 0.8em;
  margin: 0.1em 1%;
  background-color: #4ed3fb;
}

#app .game .ProgressBar:before {
  content: '';
  display: table;
  z-index: 1;
  width: 99%;
  height: 100%;
  position: absolute;
  border: 2px solid #fff;
  border-radius: 50px;
}

#app .game .loading_next {
  position: absolute;
  display: table;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: #ffbe56;
  font-weight: bold;
  font-family: "arial, helvetica, sans-serif";
  background-color: rgba(0, 0, 0, 0.5);
}

#app .game .loading_next .loading_time {
  font-size: 10em;
  text-align: center;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#app .resultsPage {
  position: relative;
  width: 100%;
  height: 100%;
  color: #9b5f00;
  font-weight: bold;
  text-align: center;
  font-size: 1.1em;
}

#app .resultsPage .score {
  padding-top: 33%;
}

#app .resultsPage .score > span:nth-child(1) {
  font-size: 5em;
  font-weight: 500;
}

#app .resultsPage .score > p {
  margin-top: 3em;
}

#app .resultsPage .score > p > span {
  color: #f03838;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 0.2em;
}

#app .resultsPage .button {
  margin-top: 4em;
}

#app .resultsPage .button > span {
  margin: 0 2%;
  display: inline-block;
  width: 37.9%;
  line-height: 3em;
  background-color: #fedfa8;
  border-radius: 10px;
}

#app .resultsPage .button > span:nth-child(2) {
  background-color: #fb6c30;
  color: #772706;
}

#app .resultsPage .RankingList {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 11.1%;
  font-size: 0.8em;
}

#app .resultsPage .RankingList > img {
  height: 2em;
}

#app .resultsPage > img {
  position: absolute;
  height: 40%;
  top: 30%;
  right: 0;
  z-index: 1;
  left: 0;
  margin: 0 auto;
}

#app .maskLayer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 200%;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 150%;
  }
}

@media screen and (max-width: 414px) {
  body {
    font-size: 100%;
  }
}

@media screen and (max-width: 320px) and (max-height: 480px) {
  #app #erasingWord .head {
    padding-top: 5%;
  }
  #app #erasingWord .grades > span {
    line-height: 2em;
  }
}
